body {
  font-size: 1.2rem;

  .third {
    color: #F9C80E;
  }

  .text-third {
    color: var(--v-theme-third) !important; /* 使用 Vuetify 主題中的自訂白色 */
  }
  
  .text-forth{
    color: var(--v-theme-forth) !important; /* 使用 Vuetify 主題中的自訂白色 */
  }

  .overflow-hidden{
    overflow: hidden;
  }
  .img-enlarge{
    overflow:hidden;
    transform:scale(1,1);
    transition: all 2s ease-out;
  }
  
  .img-enlarge:hover {
    transform: scale(1.2, 1.2);
  }
}

@media (min-width: 1920px){
    .v-container {
      max-width: 1200px;
  }
}


